@import "@fontsource/montserrat/300.css"; /* Light */
@import "@fontsource/montserrat/400.css"; /* Regular */
@import "@fontsource/montserrat/700.css"; /* Bold */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

